* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.container {
/*   position: relative; */
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
/* css header */
header {
  right: 0;
  top: 0;
  padding: 10px;
  position: fixed;
  z-index: 2;
}
header a {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* css main */
main {
  display: flex;
  flex-wrap: wrap;
  /*  overflow-y: auto; */
  padding: 40px auto;
  border: 1px solid white;
  padding: 50px;
  height: 100%;
}

main .person {
  width: calc((100% / 7) - 20px);
  height: calc((100% / 5) - 20px);
  margin: 10px;
  position: relative;
 } 
.person img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.person .jd{
  display: none;
}

.person span {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  font-size: small;
  z-index: 1;
}
.person .fa-microphone{
  display: none;
}

/* footer css */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(36, 36, 36);
  z-index: 1;
}
footer div{
   padding: 10px;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
}
li > .fa-solid {
  font-size: larger;
}
li .fa-microphone-slash{
  display: none;
}
li .fa-video-slash{
  display: none;
}
li > .fa-chevron-up {
  font-size: small;
  vertical-align: super;
}
li > .fa-share-from-square {
  color: green;
}
li p {
  font-size: medium;
}
.end{ 
  background-color: rgba(255, 255, 255, 0.3);
  align-self: stretch;
 line-height: 33px;
}
 .end>span {
  color: rgb(145, 7, 7);
  cursor: pointer;
}

/* hover bonus */
.end span:hover {
  color: blue;
}

.person:hover img{
  display: none;
}
.person:hover .jd{
  display: block;
}
.mic:hover .fa-microphone{
  display: none;
}
.mic:hover .fa-microphone-slash{
  display: block;
}
.video:hover .fa-video{
  display: none;
}
.video:hover .fa-video-slash{
  display: block;
}

.person:hover .fa-microphone-slash{
  display: none;
}
.person:hover .fa-microphone{
  display:inline-block;
}